#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}


#horizontal-button {
  background-image: url(../icons/new-game-horizontal.svg);
}

#vertical-button {
  background-image: url(../icons/new-game-vertical.svg);
}

#bilateral-button {
  background-image: url(../icons/new-game-bilateral.svg);
}